body {
    background: #f9f9f9;
    margin: 0;
    /*padding: 10px;*/
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    background: #fff;
}

.nav-bar p {
    font-weight: bold;
    font-size: 1.1rem;
    font-family: Roboto, sans-serif;
    
}

.navegacao ul li {
    display: inline-block;
}

.navegacao ul li a{
    text-decoration: none;
    color: #000;
    gap: 6px;
    margin: 5px;
}

.navegacao ul li a:hover {
    color: #7069f4b7;
}

.banner {
    background: #ada9f345;
}

.banner h1 {
    font-family: roboto, sans-serif;
    font-weight: 700;
    text-align: center;
    justify-items: center;
    align-items: center;
    padding: 20px;
    color: #000000b0;
}

.carrossel img {
    width: 120px;
    margin: 20px;
    
}

.carrossel {
    position: relative;
    width: 400px;
    margin: auto;
    height: 280px;
    display: flex;
    align-items: center;
}

.slide {
    display: none;
    width: 100%;
    text-align: center;
}

.livross {
    display: flex;
    justify-self: center;
    color: #fff;
    align-self: center;
    border: solid 1px #fff ;
    border-radius: 20px;
    background-color: #948ff073;
    text-transform: uppercase;
    padding: 10px 30px;
}

.livross:hover {
    background: #6f66e3d3;
    border: solid 3px #fff;
    transform: scale(1.1);
}

.slide.ativo {
    display: block;
}

.anterior, .proximo {
    background: #ffffff83;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 0px 15px;
    height: 50px;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    margin-top: 50px;
    text-align: center;
    gap: 20px;
    padding: 10px;
}

.livro {
    display: grid;
    place-items: center;
    text-align: center;
}

.livro img {
    width: 100%;
    height: auto;
}

.content h2 {
    margin: 5px;
    font-size: 1.4rem;
    width: auto;
    font-family: sans-serif, roboto;
    font-weight: 400;
}

.content p {
    padding: 10px;
} 

.content h2 {
    font-weight: 400;
}

.categorias {
    text-align: center;
    font-family: sans-serif, roboto;
}

.categs {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 5px 30px;
    margin-bottom: 60px;
    overflow-x: auto;
}

.categs img {
    width: 100px;
    border: solid #000;
    border-radius: 16px;
}

footer {
    background: linear-gradient( transparent, #fff, #ada9f345);
    text-align: center;
    font-family: sans-serif, roboto;
    font-size: 0.9rem;
    padding: 20px;
}

footer span {
    margin-top: 5px;
    padding: 0px;
}